<div class="container">
  <div class="row mt-4 ml-2">
    <div class="col-md-auto offset-sm-1" style="background-color: #EEEEEE;">
    <h2>会員情報変更</h2>
    </div>
  </div>



    <%= form_with model:@customer, local:true do |f| %>

      <div class="form-group">
        <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"氏名" %>
            <%= f.text_field :last_name, class: "form-control last_name" %>
            <%= f.text_field :first_name, class: "form-control first_name" %>
          </div>
        </div>
      </div>
     <div class="form-group">
       <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"フリガナ" %>
            <%= f.text_field :last_name_jp, class: "form-control last_name_jp" %>
            <%= f.text_field :first_name_jp, class: "form-control first_name_jp" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"郵便番号" %>
            <%= f.text_field :postal_code, class: "form-control postal_code" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"住所" %>
            <%= f.text_field :address, class: "form-control address" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"電話番号" %>
            <%= f.text_field :telephone_number, class: "form-control telephone_number" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mt-3 d-flex justify-content">
          <div class="d-flex flex-row col-md-4">
            <%= f.label :"メールアドレス" %>
            <%= f.text_field :email, class: "form-control email" %>
          </div>
        </div>
      </div>


      <div>
        <%= f.submit :編集内容を保存する, class: 'btn btn-sm btn-success' %>
        <%= link_to '退会する', unsubscribe_path, class: "btn btn-sm btn-danger" %>
      </div>

    <% end %>
  </div>
</div>




