<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h1>マイページ</h1>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-5">
        <h2>登録情報</h2>
      </div>
      <div class="col-md-5">
        <h2><%= link_to '編集する', edit_customer_path,class: "btn btn-sm btn-success" %></h2>
      </div>
    </div>

  <table class=" mb-3 table table-bordered">
	    <th>氏名</th>
	    <th><%= @customer.last_name %> <%= @customer.first_name %></th>
    </tr>
    <tr>
	    <th>カナ</th>
	    <th><%= @customer.last_name_jp %> <%= @customer.first_name_jp %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
  </table>

  <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-5">
        <h2>配送先</h2>
      </div>
      <div class="col-md-5">
        <h2><%= link_to '一覧を見る', addresses_path,class: "btn btn-sm btn-primary" %></h2>
      </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-5">
        <h2>注文履歴</h2>
      </div>
      <div class="col-md-5">
        <h2><%= link_to '一覧を見る', orders_path,class: "btn btn-sm btn-primary" %></h2>
      </div>
  </div>







