  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
    <% @customer.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

<%= render "customer/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row mt-4 ml-2">
    <div class="col-md-auto offset-sm-1" style="background-color: #EEEEEE;">
      <h4>新規会員登録</h4>
    </div>
  </div>

　<%= form_with model: @customer, url: customer_registration_path,id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <table class="table table-borderless" style="margin: 20px 0 0 90px;">
    <tr>
  	  <th width="220"><%= f.label :"名前" %></th>
  	  <td width="70">(姓)</td>
  	  <td width="230"><%= f.text_field :last_name, :placeholder => "令和", autocomplete: "last_name" %></td>
  	  <td width="70">(名)</td>
  	  <td><%= f.text_field :first_name, :placeholder => "道子", autocomplete: "first_name" %></td>
    </tr>
    <tr>
  	  <th><%= f.label :"フリガナ" %></th>
  	  <td>(セイ)</td>
  	  <td><%= f.text_field :last_name_jp, :placeholder => "レイワ", autocomplete: "last_name_jp" %></td>
  	  <td>(メイ)</td>
  	  <td><%= f.text_field :first_name_jp, :placeholder => "ミチコ", autocomplete: "first_name_jp" %></td>
    </tr>
    <tr>
  	  <th><%= f.label :"メールアドレス" %></th>
  	  <td></td>
  	  <td><%= f.email_field :email, :placeholder => "sample@example.com", autocomplete: "email" %></td>
    </tr>
    <tr>
  	  <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
  	  <td></td>
  	  <td><%= f.text_field :postal_code, :placeholder => "0000000", autocomplete: "postal_code" %></td>
    </tr>
    <tr>
  	  <th><%= f.label :"住所" %></th>
  	  <td></td>
  	  <td colspan="3"><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", autocomplete: "address", size: 56 %></td>
  	  <td></td>
  	  <td></td>
    </tr>
    <tr>
  	  <th><%= f.label :"電話番号(ハイフンなし)" %></th>
  	  <td></td>
  	  <td><%= f.text_field :telephone_number, :placeholder => "00000000000", autocomplete: "telephone_number" %></td>
    </tr>
    <tr>
  	  <th>
  	    <%= f.label :"パスワード" %>
  	    <% if @minimum_password_length %>
        　<em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </th>
      <td></td>
  	  <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
  	  <th><%= f.label :"パスワード(確認用)" %></th>
  	  <td></td>
  	  <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </table>
  <div class="row mt-4 justify-content-center">
    <input type="submit" name="commit" value="新規登録" class="btn btn-success" data-disable-with="新規登録">
  </div>
  <% end %>

  <div class="row ml-2">
    <div class="col-md-auto offset-sm-1" style="background-color: #EEEEEE;">
      <h4>既に登録済みの方</h4>
    </div>
  </div>
  <div class="row ml-2 mt-3">
    <div class="col-md-auto offset-sm-1">
      <h6><%= link_to "こちら  ", customer_session_path %>からログインしてください。</h6>
    </div>
  </div>

<p></p>

<%# render "customer/shared/links" %>
