<h1>注文情報確認</h1>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <%# @carts_items.each do |carts_item| %>
  <tr>
    <td><%#= carts_item.product.name %></td>
    <td><%#= carts_item.product.price.add_tax_price %></td>
    <td><%#= carts_item.product_amount %></td>
    <td><%#= carts_item.subtotal %></td>
  </tr>
  <%# end %>
</table>
<br>
<table>
  <tr>
    <th>送料</th>
    <td><%= @order.shipping_cost %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%#= ？？？？？？？？？？？？？？ %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <th><%= @order.final_price %></th>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>〒<%= @order.postal_code %><%= " " %><%= @order.postal_address %><%= " " %><%= @order.postal_name %></td>
  </tr>
</table>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :postal_name, value: @order.postal_name %>
  <%= f.hidden_field :postal_address, value: @order.postal_address %>
  <%= f.hidden_field :postal_code, value: @order.postal_code %>
  <%= f.submit "注文を確定する" %>
<% end %>

