<h2>商品一覧</h2>
<div>
  <%= link_to new_admin_product_path do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>
</div>
<table class="table">
  <thead class="table-light">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name,admin_product_path(product), class: "product_#{product.id}" %></td>
        <td><%=  product.price.to_s(:delimited) %></td>
        <td><%=  product.genre.name %></td>
        <td>
          <% if product.is_active == true %>
            <p>販売中</p>
          <% else %>
            <p>販売停止中</p>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= paginate @products %>
  </tbody>
</table>