<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <div class="h-25" style="border-top: solid 1px black"><b>footer</b></div>
    </footer>
  </body>
</html>
